*.pyc
*.cnf
tunnel.sh
backbone/backbones/
backbone/instances/
backbone/mergedResults/
results/
entropy/Benchmarks/
entropy/instances/
entropy/tests/
entropy/bu/
entropy/output/sols/
entropy/output/output/
entropy/output/histogram/
entropy/output/entropy
backboneSampler/output